{% extends 'layout.twig' %}

{% block title %}
	<title>OSS Blog || Modération</title>
{% endblock %}

{% block menu %}
    {% include 'menuAdmin.twig' %}
{% endblock %}


{% block body %}

{#{% include 'menu.twig' %}#}

<h1>Modération</h1>

<ul>
	{% for item in articles %}  
	<li>{{ item.getContenuArticle()}} <a href="{{app.request.basepath}}/remove/{{item.getIdArticle()}}">Supprimer</a> 
		<a href="{{app.request.basepath}}/modifier/{{item.getIdArticle()}}">Modifier</a>
	</li>

	{% endfor %}
	
</ul> 


{% endblock %}