{% extends 'layout.twig' %}

{% block title %}
	<title>OSS Blog || Article {{article.getIdArticle()}}</title>
{% endblock %}

{% block menu %}
	{% include 'menu.twig' %}
{% endblock %}

{% block body %}

	
	<h1>{{article.getTitre()}}</h1>

	{% if article.getLienPhoto() != null %}
		<img src="{{app.request.basepath}}/src/Views/{{article.getLienPhoto()}}">
	{% endif %}

	
	<p>{{article.getContenuArticle()}}</p>

	{% for commentaire in commentaires %}

		<div class="commentaire">
			<p class="nomEditeurCommentaire">{{commentaire.getNomEditeur()}} :</p>
			<p class="contenuCommentaire">{{commentaire.getContenuCommentaire()}}</p>
		</div>
			
	{% endfor %}

	<form id="" action="" method="post">
		<input type="text" name="nomEditeur" placeholder="Votre nom"><br>
		<textarea type="text" name="contenuCommentaire" placeholder="Votre commentaire"></textarea><br>
		<input type="submit" value="Commentez">
	</form>
	

{% endblock %}